<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dao.ICustomersRepo">

    <select id="findById" parameterType="int"  resultType="persistence.models.Сustomers">
        select * from customers where idcustomers = #{id}
    </select>

    <select id="findAll" resultType="persistence.models.Сustomers">
        select * from customers;
    </select>

</mapper>