<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dao.IEmployeesRepo">

    <select id="findById" parameterType="int"  resultType="persistence.models.Employees">
        select * from employees where idemployee = #{id}
    </select>

    <select id="findAll" resultType="persistence.models.Employees">
        select * from employees;
    </select>



    <insert id="createEmployee" parameterType="persistence.models.Employees" keyProperty="idemployee" useGeneratedKeys="true">
        insert into sakila.employees (firstName, lastName, storeId, salaries_idsalary)
        values (#{firstName}, #{lastName}, #{storeId}, #{salaries_idsalary});
    </insert>


    <update id="updateEmployees" parameterType="persistence.models.Employees">
        update sakila.employees
        set firstName = #{firstName}, lastName = #{lastName}, storeId = #{storeId}, salaries_idsalary = #{salaries_idsalary}
        where idemployee = #{idemployee}
    </update>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sakila.employees
        where idemployee = #{idemployee};
    </delete>




</mapper>